<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Стандарты в ИТ</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>

<body>
    {{> header}}

    <main class="site__main">
        <section class="first-screen container">
            <div class="background"></div>
            <div class="row">
                <div class="col-md-8">
                    <h1 class="first-screen__header">Стандарты в области <br> информационной технологии</h1>
                    <p class="first-screen__text">Роль стандартов в области информационных технологий</p>
                </div>
                <div class="col-md-10 offset-md-1">
                    <p class="text jumbotron">Стандарт (по определению ISO). Технический стандарт или другой документ, доступный и
                        опубликованный, коллективно разработанный или согласованный и общепринятый в интересах тех, кто
                        им
                        пользуется, основанный на интеграции результатов науки, технологии, опыта, способствующий
                        повышению
                        общественного блага и принятый организациями, полномочными на национальном, региональном и
                        международном
                        уровнях.

                        Стандарты в области информационных технологий содержат определения основных понятия, описания
                        информационных
                        технологий, моделей, сценариев, функций, правил поведения и представления информации и по
                        существу
                        являются
                        научно-методической основой и фундаментом информационной индустрии. Интеграция мирового
                        научно-технического
                        потенциала в данной области, осуществляется международной системой стандартизации и
                        характеризуется
                        небывалыми для науки и техники масштабами,

                    </p>
                </div>
            </div>
        </section>
    </main>

</body>

</html>