<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Уровни и виды</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>

<body>
    {{> header}}
    <section class="first-screen container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="first-screen__header">Уровни и виды <br> стардартов в ИТ</h1>
                <p class="first-screen__text">Различают 5 уровней стандартов:</p>
                <div class="alert alert-primary" role="alert">
                    Стандарты международных организаций, например, ISO, IEC, ITU
                </div>
                <div class="alert alert-success" role="alert">
                    Стандарты международно-групповых (региональных) объединений, например, CEN, CENELEC, ETSI;
                </div>
                <div class="alert alert-danger" role="alert">
                    Национальные стандарты, например, ANSI, BSI, DIN, ГОСТ, СТБ;
                </div>
                <div class="alert alert-warning" role="alert">
                    Cтандарты профессиональных организаций, например, IEEE, ISA, ISOC, IAB, IETF, IRTF, IESG, ECMA
                </div>
                <div class="alert alert-info" role="alert">
                    стандарты отдельных фирм, например, Intel, Xerox, IBM.
                </div>
            </div>
        </div>
    </section>

    <section class="description container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Различают также юридические, фактические и промышленные стандарты</h4>
                    <p><a href="#" class="alert-link">Стандарт де-юре </a>(de jure; юридически принятый) – это стандарт, который создан официально признанной организацией (ISO, IEC, ITU). Их иногда называют базовыми или  формальными стандартами. Такие стандарты являются открытыми. Они свободны для копирования, а продукция, изготовленная на их основе, не требует лицензии, что обеспечивают независимость от поставщиков изделий.</p>
                    <hr>
                    <p><a href="#" class="alert-link">Промышленный стандарт</a> – стандарт, который широко применяется в промышленности. Это может быть как стандарт де-факто, так и де-юре. Неудачные стандарты де-юре часто не становятся промышленными. Промышленные стандарты, как правило, связаны с изделиями, доминирующими на рынке, и в значительной степени зависят от изготовителей продукции.</p>
                    <hr>
                    <p class="mb-0"><a href="#" class="alert-link">Стандарт де-факто</a> (de facto; фактический) – стандарт на продукцию поставщика, который захватил большую часть рынка, и который другие поставщики стремятся эмулировать, копировать или использовать.
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>