<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Стандарты в ИТ</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Стандарты в ИТ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./levelsandtypes.html">Уровни и виды</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./organizations.html">Организации</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./standarts.html">Доступные стандарты</a>
                </li>
            </ul>
            <span class="navbar-text">
                Эта страницы посвящена Стандартам в области ИТ
            </span>
        </div>
    </nav>
</body>

</html>